<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-ripple-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<img src="assets/image/logo.png"  class="imgLogo">
<h3 style="text-align: center;color: #0098cd;"><b>PAYROLL</b></h3>
<div class="card card-user">
    <div class="card-body">
        <div class="card-header">
            <h2 class="card-title">Forgot-Password</h2>
        </div>
        <div class="col-sm-offset-2">
            <p class="alert alert-success" *ngIf="flag">
                <strong>{{ successMsg }}</strong>
            </p>
        </div>
        <div class="col-sm-offset-2">
            <p class="alert alert-danger" *ngIf="!forgotFlag">
                <strong>{{ errMessage }}</strong>
            </p>
        </div>

        <form class="form-horizontal" role="form" [formGroup]="forgotPassForm" (ngSubmit)="forgotPassword()">
            <div class="form-group">
                <label for="inputEmail" class="col-sm-6 control-label"><b>Email: </b></label>
                <div class="col-sm-offset-2">
                    <input class="form-control" type="email" id="inputEmail" placeholder="Enter Your Registered Email"
                        formControlName="email">
                    <div *ngFor="let validation of validationErrorMessage.email">
                        <div *ngIf="forgotPassForm.get('email').hasError(validation.type) && (forgotPassForm.get('email').dirty || forgotPassForm.get('email').touched)"
                        style="color: red;margin-left: 14px;">
                            {{ validation.message }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" [disabled]="forgotPassForm.pristine || forgotPassForm.invalid"
                        class="btn btn-success">Submit</button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <section>Go Back?&nbsp;<a class="text-link" routerLink="../login">LOGIN</a>
                    </section>
                </div>
            </div>
        </form>
    </div>
</div>