td select{
    width: 70%;
    float: right;
    background-color: #51bcda;
    border: 0;
    color: #fff;
    font-weight: 900;
}

.form-group.right-buttongroup {
    white-space: nowrap;
    margin-top: 14px;
}
