<div class="card card-user">
   <div class="card-header">
      <h2 class="card-title text-center">Update Skill Category</h2>
   </div>
   <div class="card-body">
      <div class="col-sm-offset-2">
         <p class="alert alert-danger" *ngIf="errorMsg">
            <strong>{{errMsg}}</strong>
         </p>
      </div>
      <div class="col-sm-offset-2">
         <p class="alert alert-success" *ngIf="successMessage">
            <strong>{{successMsg}}</strong>
         </p>
      </div>
      <form class="form-horizontal" role="form" [formGroup]="skillForm" (ngSubmit)="skillDataUpdate()" novalidate>
         <div class="form-group">
            <label class="col-sm-6 control-label"><b>Skill Name:<span style="color: darkred">*</span> </b></label>
            <div class="col-sm-offset-2">
               <input class="form-control" type="text" id="sName" placeholder="Enter Skill Name" formControlName="skillName" required>
                  <div *ngFor="let validation of validationMessage.skillName">
                     <div style="color: red;margin-left: 14px;" *ngIf="skillForm.get('skillName').hasError(validation.type) && (skillForm.get('skillName').dirty || skillForm.get('skillName').touched)"
                     style="color: red;margin-left: 14px;" >{{validation.message}}</div>
                  </div>
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" class="btn btn-success" [disabled]="skillForm.invalid || permissionInfo.search('Edit SkillCategory') === -1">Update</button>
               <button type="button" class="btn btn-danger" routerLink="../../list-skill-category">Cancel</button>
            </div>
         </div>
      </form>
   </div>
</div>
