<div class="card card-user">
      <div class="card-header">
         <h2 class="card-title text-center">Update Payment Heads</h2>
      </div>
      <div class="card-body">
            <div class="col-sm-offset-2">
                    <p class="alert alert-danger" *ngIf="serverErrorMsg">
                        <strong>{{ errMsg }}</strong>
                    </p>
                </div>
                <div class="col-sm-offset-2">
                    <p class="alert alert-success" *ngIf="successMessage">
                        <strong>{{ successMsg }}</strong>
                    </p>
                </div>
    <form class="form-horizontal" role="form" [formGroup]="updateManagePaymentForm" (ngSubmit)="updatePaymentHeads()"
       novalidate>
           <div [formGroup]="updateManagePaymentForm.get('paymentHead')">
               <label class="col-sm-6 control-label"><b>Payment Head:&nbsp;<span style="color: darkred">*</span></b></label>
               <select class="dropdown dropdown-toggle form-control" name="Payment Heades" formControlName="paymentHeadId">
                   <option *ngFor="let list of paymentHeadDataList" [ngValue]="list._id" selected>{{ list.title }}</option>
               </select>
               <div *ngFor="let validation of validationMessage.paymentHeadId">
                   <div style="color: red;margin-left: 1%;"
                       *ngIf="updateManagePaymentForm.get('paymentHead.paymentHeadId').hasError(validation.type) && (updateManagePaymentForm.get('paymentHead.paymentHeadId').dirty || updateManagePaymentForm.get('paymentHead.paymentHeadId').touched)"
                       style="color: red;margin-left: 1%;">
                       {{ validation.message }}
                   </div>
               </div>
           <br>
           <div class="row">
                <div class="col-md-4">
                    <label class="col-sm-8 control-label"><b>Type:&nbsp;<span style="color: darkred">*</span></b></label>
                    <select class="dropdown dropdown-toggle form-control" id="typeValue" (change)="check($event)" formControlName="type">
                        <!-- <option ng-selected="true" value="" disabled>----------Select Grade Type----------</option> -->
                        <option class="dropdown-item"  *ngFor='let type of gradeType' >{{ type }}</option>

                    </select>
                    <div *ngFor="let validation of validationMessage.type">
                        <div style="color: red;margin-left: 1%;"
                            *ngIf="updateManagePaymentForm.get('paymentHead.type').hasError(validation.type) && (updateManagePaymentForm.get('paymentHead.type').dirty || updateManagePaymentForm.get('paymentHead.type').touched)"
                            style="color: red;margin-left: 1%;">
                            {{ validation.message }}
                        </div>
                    </div>
                </div>

                <div class="col-md-4" *ngIf="Fixed">
                    <div class="form-group">
                        <label class="col-sm-6 control-label"><b>Enter Amount:&nbsp;<span style="color: darkred">*</span></b></label>
                        <div class="col-sm-offset-2">
                            <input class="form-control" type="text" id="value" placeholder="Enter Amount" formControlName="value" >
                        </div>
                    </div>
                    <div *ngFor="let validation of validationMessage.value">
                        <div style="color: red;margin-left: 1%;"
                            *ngIf="updateManagePaymentForm.get('paymentHead.value').hasError(validation.type) && (updateManagePaymentForm.get('paymentHead.value').dirty || updateManagePaymentForm.get('paymentHead.value').touched)"
                            style="color: red;margin-left: 1%;">
                            {{ validation.message }}
                        </div>
                    </div>
                </div>


                <div class="col-md-4" *ngIf="Percent">
                    <div class="form-group">
                        <label class="col-sm-6 control-label"><b>Enter Percent:&nbsp;<span style="color: darkred">*</span></b></label>
                        <div class="col-sm-offset-2">
                            <input class="form-control" type="number" id="percentValue" (input)="demo()" placeholder="Enter Percent" formControlName="value" required>
                        </div>
                    </div>
                    <div><p style="color:red;">{{percentErrorMsg}}</p></div>
                    <div><p style="color:red;"> {{ errorMsg }}</p></div>

                </div>
                <div class="col-md-4" *ngIf="Percent">
                    <div class="form-group">
                        <label class="col-sm-6 control-label"><b>Percent Of:&nbsp;<span style="color: darkred">*</span></b></label>
                        <select class="dropdown dropdown-toggle form-control" name="Payment Heades" (change)="percentOf($event.target.value)" id="percentOfValue">
                            <option ng-selected="true" value="" disabled>----Select Percent Of----</option>
                            <option *ngFor="let fixedHeads of fixedPaymentHeadsList" [value]="fixedHeads.value" selected>{{ fixedHeads.name }}</option>
                        </select>
                    </div>

                </div>
            </div>
           </div>
           <button type="submit" class="btn btn-success" [disabled]="updateManagePaymentForm.invalid || errorMsg || percentErrorMsg || permissionInfo.search('Edit PaymentHeads') === -1">Update</button>
           <button class="btn btn-danger" routerLink="/pages/graderule/list-managePaymentHeads/{{gradeRuleId}}">Cancel</button>
   </form>
   </div>
   </div>

