<div class="card card-user">
   <div class="card-header">
      <h2 class="card-title text-center">Update Department</h2>
   </div>
   <div class="card-body">
         <div class="col-sm-offset-2">
               <p class="alert alert-danger" *ngIf="errorMsg">
                 <strong>{{errMsg}}</strong>
               </p>
             </div>
             <div class="col-sm-offset-2">
               <p class="alert alert-success" *ngIf="successMessage">
                 <strong>{{successMsg}}</strong>
               </p>
             </div>
      <form class="form-horizontal" role="form" [formGroup]="DepartmentUpdateForm" (ngSubmit)="updateDepartment()" novalidate>
         <div class="form-group">
            <label class="col-sm-6 control-label"><b>Title:&nbsp;<span style="color: darkred">*</span> </b></label>
            <div class="col-sm-offset-2">
               <input class="form-control" type="text" id="title" placeholder="Enter Title"formControlName="title" >
               <div *ngFor="let validation of validationMessage.title">
                     <div style="color: red;margin-left: 14px;"
                       *ngIf="DepartmentUpdateForm.get('title').hasError(validation.type) && (DepartmentUpdateForm.get('title').dirty || DepartmentUpdateForm.get('title').touched)"
                       >
                       {{ validation.message }}
                     </div>
                   </div>
            </div>
         </div>
         <div class="form-group">
            <label class="col-sm-6 control-label"><b>Description: </b></label>
            <div class="col-sm-offset-2">
               <input class="form-control" type="text" id="description" placeholder="Enter Description"formControlName="description" >
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" class="btn btn-success" [disabled]="DepartmentUpdateForm.invalid || permissionInfo.search('Edit Department')=== -1">Update</button>
               <button type="button" class="btn btn-danger" routerLink="../../../list-department" >Cancel</button>
            </div>
         </div>
      </form>
   </div>
</div>

<!-- /pages/department/list-department -->