.card-title{
    text-align: center
}

.dropdown{
   max-height: 35px;
}
.btn-circle {
    cursor: pointer;
  }
.delete-button{
    margin: 15px 0;
}
.delete-button button {
    width: 100%;
    padding: 6px 6px;
    background: #a20909;
    margin-top: 30px;
}

.imageError{
    color: #a20807;
    margin-left: 34%;
    margin-top: 6px;
    font-weight: 400;
}