<div class="card">
    <div class="card-header" style="text-align: center">
        <h2>Job Profiles List</h2>
        <a [class.disabled]="permissionInfo.search('Create JobProfile') === -1"
        class="btn btn-primary" routerLink="../add-job-profile" style="float:right;" (click)= "addJobProfile()"><i class="fa fa-plus"></i>&nbsp;
            Add Job-profile</a>
    </div>
    <!-- <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let list of jobProfileList">
                    <strong><b (click)="showData(list._id)"
                            style="cursor: pointer">{{list.positionName}}</b></strong>
                    <div style="float: right;">
                        <i class="dropdown-toggle" (click)="showData(list._id)"></i>
                    </div>
                    <div class="card" style="background-color:ghostwhite" [hidden]="showCard[list._id]">
                        <table class="table" style="margin: auto">
                            <tr>
                                <th>Position Name:</th>
                                <td>{{list?.positionName}}</td>
                            </tr>
                            <tr>
                                <th>Pay Basis:</th>
                                <td>{{list?.payBasis}}</td>
                            </tr>
                            <tr>
                                <th>Is Active:</th>
                                <td>{{list?.isActive}}</td>
                            </tr>
                        </table>
                        <div>
                            <a routerLink="../update-profile-data/{{list._id}}" style="float: right;"
                                class="btn btn-primary">
                                <i class="fa fa-pencil-square-o"></i></a>
                            <button style="float: right;" class="btn btn-danger" type="button"
                                (click)="deleteJobProfile(list._id)">
                                <i class="fa fa-trash"></i>
                            </button>

                        </div>
                    </div>
                </li>
            </ul>
        </div> -->
    <table class="table" style="text-align: center;">
        <thead class=" text-primary">
            <tr>
            <th>S.No</th>
            <th>Profile Name</th>
            <th>Pay Basis</th>
            <th>Is Active</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let list of jobProfileList; let i = index">
            <tr >
                <td><b>{{i+1}}.</b></td>
                <td>{{list.positionName}}</td>
                <td>{{list.payBasis}}</td>
                <td *ngIf="list.isActive"><i class="fa fa-check" style="color: green; font-size: 25px;"></i></td>
                <td *ngIf="!list.isActive"><i class="fa fa-times" style="color: red; font-size: 25px;"></i></td>
            <td>
                <a [class.disabled]="permissionInfo.search('Edit JobProfile') === -1"
                routerLink="../update-profile-data/{{list._id}}" class="btn btn-primary">
                    <i class="fa fa-pencil-square-o"></i></a>&nbsp;
                <button [disabled]="permissionInfo.search('Delete JobProfile') === -1"
                class="btn btn-danger" type="button" (click)="deleteJobProfile(list._id)">
                    <i class="fa fa-trash"></i></button>
            </td>
            </tr>
    </table>
</div>