<img src="assets/image/logo.png"  class="imgLogo">
<h3 style="text-align: center;color: #0098cd;"><b>PAYROLL</b></h3>
<div class="card card-user">
  <div class="card-body">
    <div class="card-header">
      <h2 class="card-title">Reset Password</h2>
    </div>
    <div class="col-sm-offset-2">
      <p class="alert alert-danger" *ngIf="!passwordFlag">
        <strong>{{ errMessage }}</strong>
      </p>
    </div>

    <div class="col-sm-offset-2">
      <p class="alert alert-success" *ngIf="successFlag">
        <strong>{{ successMsg }}</strong>
      </p>
    </div>
    <div>
      <form  [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" novalidate>
        <div class="form-group">
          <label class="col-sm-6 control-label"><b>Password:</b></label>
          <input type="password" formControlName="password" placeholder="Enter Password" class="form-control" />
          <div *ngFor="let validation of validationErrorMessage.password">
            <div
              *ngIf="resetPasswordForm.get('password').hasError(validation.type) && (resetPasswordForm.get('password').dirty || resetPasswordForm.get('password').touched)"
              style="color: red;margin-left: 14px;">
              {{ validation.message }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-8 control-label"><b>Confirm Password:</b></label>
          <input type="password" formControlName="passwordConfirmation" placeholder="Confirm Password" class="form-control" />
          <div *ngFor="let validation of validationErrorMessage.passwordConfirmation">
            <div
              *ngIf="resetPasswordForm.get('passwordConfirmation').hasError(validation.type) && (resetPasswordForm.get('passwordConfirmation').dirty || resetPasswordForm.get('passwordConfirmation').touched)"
              style="color: red;margin-left: 14px;">
              {{ validation.message }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" [disabled]="!resetPasswordForm.valid" class="btn btn-success">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>