h2{
    text-align: center;
}
.card-title{
    text-align: center
}

.dropdown{
   max-height: 35px;
}
.btn-circle {
    cursor: pointer;
  }
.delete-button{
    margin: 15px 0;
}
.delete-button button {
    width: 100%;
    padding: 6px 6px;
    background: #a20909;
    margin-top: 30px;
}