<div class="card">
    <div class="card-header" style="text-align: center">
        <h2>Document Type</h2>
        <button [disabled]="permissionInfo.search('Create DocumentType') === -1"
         class="btn btn-primary" type="button" routerLink="/pages/document-types/add-document-types" style="float: right;" (click)= "addDocumentType()"><i class="fa fa-plus-square"></i>&nbsp; Add Document Type</button
            >
    </div>
    <div class="table-responsive-lg">
        <table class="table" style="text-align: center;">
            <thead class=" text-primary">
                <tr>
                <th> S.No </th>
                <th> Title </th>
                <th>Description</th>
                <th>Is Required</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let list of document; let i = index">
                <tr >
                <td><b>{{ i+1 }}.</b></td>
                <td> {{ list.title }} </td>
                <td > {{list.description}}</td>
                <td *ngIf="list.isRequired"><i class="fa fa-check" style="color: green; font-size: 25px;"></i></td>
                <td *ngIf="!list.isRequired"><i class="fa fa-times" style="color: red; font-size: 25px;"></i></td>
                <td>
                    <a [class.disabled]="permissionInfo.search('Edit DocumentType') === -1"
                    routerLink="/pages/document-types/update-document-types/{{list.companyId}}/{{list._id}}" class="btn btn-primary" ><i class="fa fa-pencil-square-o"></i></a>&nbsp;
                    <button [disabled]="permissionInfo.search('Delete DocumentType') === -1"
                     class="btn btn-danger" type="button" (click)="removeDocument(list._id)"><i class="fa fa-trash"></i></button
                        >
                </td>
                </tr>
        </table>
    </div>

</div>